.blog
  .blog__item
    .blog__header
      a(href="#")
        img.blog__photo(src = '/assets/img/blog/women.jpg')
      .blog__date
        .block__date-day 15
        |Jan
    .blog__content
      .blog__title
        a(href="#") Lorem ipsum dolor sit amet
      .blog__text Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
    .blog__footer
      .blog-stat
        span.blog-stat__item
          i.far.fa-eye.color--success
          =" 542"
        span.blog-stat__item
          i.far.fa-comment-dots.color--success
          =" 17"

  .blog__item
    .blog__header
      a(href="#")
        img.blog__photo(src = '/assets/img/blog/notebook.jpg')
      .blog__date
        .block__date-day 14
        |Jan
    .blog__content
      .blog__title
        a(href="#") sed do eiusmod tempor
      .blog__text Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
    .blog__footer
      .blog-stat
        span.blog-stat__item
          i.far.fa-eye.color--success
          =" 992"
        span.blog-stat__item
          i.far.fa-comment-dots.color--success
          =" 42"

  .blog__item
    .blog__header
      a(href="#")
        img.blog__photo(src = '/assets/img/blog/men-pad.jpg')
      .blog__date
        .block__date-day 12
        |Jan
    .blog__content
      .blog__title
        a(href="#") incididunt ut labore et dolore
      .blog__text Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
    .blog__footer
      .blog-stat
        span.blog-stat__item
          i.far.fa-eye.color--success
          =" 1560"
        span.blog-stat__item
          i.far.fa-comment-dots.color--success
          =" 98"