section.section.section--devices
  .container
    .section__header
      h3.section__suptitle For all devices
      h2.section__title Unique design
    .devices
      img.devices__item(src="/assets/img/feature/i-pad.png" alt="ipad")
      img.devices__item.devices__item--iphone(src="/assets/img/feature/i-phone.png" alt="i-phone")