.footer__title instagram
.instagram
  a(href="#" target="_blank").instagram__item
    img(src="/assets/img/instagram/1.jpg", alt="")
  a(href="#" target="_blank").instagram__item
    img(src="/assets/img/instagram/2.jpg", alt="")
  a(href="#" target="_blank").instagram__item.border-right--none
    img(src="/assets/img/instagram/3.jpg", alt="")
  a(href="#" target="_blank").instagram__item
    img(src="/assets/img/instagram/4.jpg", alt="")
  a(href="#" target="_blank").instagram__item.instagram__item--hidden
    img(src="/assets/img/instagram/5.jpg", alt="")
  a(href="#" target="_blank").instagram__item.border-right--none
    img(src="/assets/img/instagram/6.jpg", alt="")
  a(href="#" target="_blank").instagram__item
    img(src="/assets/img/instagram/7.jpg", alt="")
  a(href="#" target="_blank").instagram__item
    img(src="/assets/img/instagram/8.jpg", alt="")
  a(href="#" target="_blank").instagram__item.border-right--none
    img(src="/assets/img/instagram/9.jpg", alt="")
.instagram__outer
  a(href="#") View more photos