.footer__logo MoGo
.footer__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

.footer__social
  .footer__social-header
    b 15k
    =" folowers"
  .footer-social-content Follow Us:
    a(href="#" target="_blank")
      i.fab.fa-facebook-f
    a(href="#" target="_blank")
      i.fab.fa-twitter
    a(href="#" target="_blank")
      i.fab.fa-instagram
    a(href="#" target="_blank")
      i.fab.fa-pinterest-p
    a(href="#" target="_blank")
      i.fab.fa-google-plus-g
    a(href="#" target="_blank")
      i.fab.fa-youtube
    a(href="#" target="_blank")
      i.fab.fa-dribbble
    a(href="#" target="_blank")
      i.fab.fa-tumblr

form.subscribe(action="/", method="post")
  input.subscribe__input(type="email" name="name" placeholder="Your Email...").
  button.subscribe__btn(type="submit") Subscribe