footer.footer
  .container
    .footer__inner
      .footer__col.footer__col--first
        include footer-subscribe

      .footer__col.footer__col--second
        include footer-blog

      .footer__col.footer__col--third
        include footer-instagram

    <div class="copyright">&#169; 2016 MoGo free PSD template by <span>Laaqiq</span></div>
