.footer__title blogs
.blogs
  .blogs__item
    img.blogs__img(src="/assets/img/blogs/candles.jpg", alt="")
    .blogs__content
      a.blogs__title(href="#") Lorem ipsum dolor sit amet,  consectetur adipiscing
      .blogs__date Jan 9, 2016

  .blogs__item
    img.blogs__img(src="/assets/img/blogs/wave.jpg", alt="")
    .blogs__content
      a.blogs__title(href="#") Consectetur adipiscing elit,  sed do eiusmod tempor
      .blogs__date Jan 9, 2016

  .blogs__item
    img.blogs__img(src="/assets/img/blogs/child.jpg", alt="")
    .blogs__content
      a.blogs__title(href="#") sed do eiusmod tempor  incididunt ut labore
      .blogs__date Jan 9, 2016