section.section.section--clients
  .container
    .section__header
      h3.section__suptitle Happy Clients
      h2.section__title What people say
    .clients
      .clients__item
        img.clients__photo(src="/assets/img/Happy-clients/Mathew.png", alt="")
        .clients__content
          .clients__name Matthew Dix
          .clients__prof Graphic Design
          .clients__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
      .clients__item
        img.clients__photo(src="/assets/img/Happy-clients/Nick.png", alt="")
        .clients__content
          .clients__name Nick Karvounis
          .clients__prof Graphic Design
          .clients__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
      .clients__item
        img.clients__photo(src="/assets/img/Happy-clients/Jaelinn.png", alt="")
        .clients__content
          .clients__name Jaelynn Castillo
          .clients__prof Graphic Design
          .clients__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
      .clients__item
        img.clients__photo(src="/assets/img/Happy-clients/Mike.png", alt="")
        .clients__content
          .clients__name Mike Petrucci
          .clients__prof Graphic Design
          .clients__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.