section.intro#intro
    .container
      .intro-inner
        h2.intro__uptitle Creative Template
        h1.intro__title Welcome to MoGo
        a(class="btn" href="#") Learn more
    include ./slider