.section.section--gray
  .container
    .logos
      .logos__item
        img.logos__img(src="/assets/img/Logos/hipster-two-arrows.png", alt="")
      .logos__item
        img.logos__img(src="/assets/img/Logos/ABCD.png", alt="")
      .logos__item
        img.logos__img(src="/assets/img/Logos/design.png", alt="")
      .logos__item
        img.logos__img(src="/assets/img/Logos/table.png", alt="")
      .logos__item
        img.logos__img(src="/assets/img/Logos/round.png", alt="")
      .logos__item
        img.logos__img(src="/assets/img/Logos/seal.png", alt="")