section.section.section--map#map
  .container
    .map
      h2.map__title
        div
          i.fas.fa-map-marker-alt
        a(href="https://goo.gl/maps/dSRL8LAs1vBBPAtP8" target="_blank") Open map