.card
  .card__item
    .card__inner
      .card__img
        img.card__picture.card__picture--our-team-height(src = '/assets/img/team/team_1.jpg')
        .card__text
          .social
            a(href="#" target="_blank").social__item
              i.fab.fa-facebook-f
            a(href="#" target="_blank").social__item
              i.fab.fa-twitter
            a(href="#" target="_blank").social__item
              i.fab.fa-pinterest-p
            a(href="#" target="_blank").social__item.social__item--last-item
              i.fab.fa-instagram
    .card__info
      h3.card__name Matthew Dix
      .card__prof Graphic Design
  .card__item
    .card__inner
      .card__img
        img.card__picture.card__picture--our-team-height(src = '/assets/img/team/team_2.jpg')
        .card__text
          .social
            a(href="#" target="_blank").social__item
              i.fab.fa-facebook-f
            a(href="#" target="_blank").social__item
              i.fab.fa-twitter
            a(href="#" target="_blank").social__item
              i.fab.fa-pinterest-p
            a(href="#" target="_blank").social__item.social__item--last-item
              i.fab.fa-instagram
    .card__info
      h3.card__name Christopher Campbell
      .card__prof Branding/UX design
  .card__item
    .card__inner
      .card__img
        img.card__picture.card__picture--our-team-height(src = '/assets/img/team/team_3.jpg')
        .card__text
          .social
            a(href="#" target="_blank").social__item
              i.fab.fa-facebook-f
            a(href="#" target="_blank").social__item
              i.fab.fa-twitter
            a(href="#" target="_blank").social__item
              i.fab.fa-pinterest-p
            a(href="#" target="_blank").social__item.social__item--last-item
              i.fab.fa-instagram
    .card__info
      h3.card__name Michael Fertig
      .card__prof Developer