.works
  .works__col
    .works__item
      img.works__image(src="/assets/img/portfolio/men.jpg", alt="men")
      .works__info
        .works__title Creatively designed
        .works__text Lorem ipsum dolor sit
    .works__item
      img.works__image(src="/assets/img/portfolio/bridge.jpg", alt="bridge")
      .works__info
        .works__title Creatively designed
        .works__text Lorem ipsum dolor sit

  .works__col
    .works__item
      img.works__image(src="/assets/img/portfolio/roof.jpg", alt="roof")
      .works__info
        .works__title Creatively designed
        .works__text Lorem ipsum dolor sit
    .works__item
      img.works__image(src="/assets/img/portfolio/well.jpg", alt="well")
      .works__info
        .works__title Creatively designed
        .works__text Lorem ipsum dolor sit

  .works__col
    .works__item
      img.works__image(src="/assets/img/portfolio/jellyfish.jpg", alt="jellyfish")
      .works__info
        .works__title Creatively designed
        .works__text Lorem ipsum dolor sit
        
  .works__col
    .works__item
      img.works__image(src="/assets/img/portfolio/dome.jpg", alt="dome")
      .works__info
        .works__title Creatively designed
        .works__text Lorem ipsum dolor sit
    .works__item
      img.works__image(src="/assets/img/portfolio/skayscraper.jpg", alt="skayscraper")
      .works__info
        .works__title Creatively designed
        .works__text Lorem ipsum dolor sit