.section.section--gray
  .container
    .reviews
      
      .slick__slider(data-slider)
        .no-name-div
          .reviews__item
            .reviews__photo-box.border--lightex
              img.reviews__photo(src="/assets/img/service/SPEECH-4.png" alt="")
            .reviews__text
              q Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
            .reviews__author <cite>Jon Doe</cite>

        .no-name-div
          .reviews__item
            .reviews__photo-box.border--lightex
              img.reviews__photo(src="/assets/img/service/SPEECH-4.png" alt="")
            .reviews__text
              q Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
            .reviews__author <cite>Jon Doe</cite>