.section.section--quote
  .container
    .reviews
      a.reviews__btn.reviews__btn--prev(href="#") Prev
      a.reviews__btn.reviews__btn--next(href="#") Next
      .reviews-quote
        .reviews__item-photo.border--lightex
          //- img.reviews__photo-quote(src="/assets/img/service/Rectangle-13.png" alt="")
          img.reviews__photo-speech(src="/assets/img/service/SPEECH-4.png", alt="")
        .reviews__text-quote
          q Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
          .reviews__author-quote <cite>Jon Doe</cite>