.card
  .card__item
    .card__inner
      .card__img
        img.card__picture.card__picture--height(src = '/assets/img/about_1.jpg')
        img.users__logo(src='assets/img/USERS.png')
        .card__text super team
  .card__item
    .card__inner
      .card__img
        img.card__picture.card__picture--height(src = '/assets/img/about_2.jpg')
        img.users__logo(src='assets/img/USERS.png')
        .card__text super team
  .card__item.card__item--last-card
    .card__inner
      .card__img
        img.card__picture.card__picture--height(src = '/assets/img/about_3.jpg')
        img.users__logo(src='assets/img/USERS.png')
        .card__text super team
