section.section#service
  .container
    .section__header
      h3.section__suptitle We work with
      h2.section__title Amazing Services
    .services
      .services__item.services__item--border-bottom
        img.services__icon(src = '/assets/img/ALARM.png')
        .services__title Photography
        .services__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
      .services__item.services__item--border-bottom
        img.services__icon(src = '/assets/img/design.png')
        .services__title Web Design
        .services__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
      .services__item.services__item--border-bottom
        img.services__icon(src = '/assets/img/computer.png')
        .services__title Creativity
        .services__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
      .services__item
        img.services__icon(src = '/assets/img/book.png')
        .services__title SEO
        .services__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
      .services__item
        img.services__icon(src = '/assets/img/home.png')
        .services__title css/html
        .services__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
      .services__item
        img.services__icon(src = '/assets/img/digital.png')
        .services__title Digital
        .services__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.