.slider
  .container
    .slider__inner
      .slider__item.active <span class="slider__number">1</span> <span class="slider__text">intro</span>
      .slider__item <span class="slider__number">2</span><span class="slider__text"> work</span>
      .slider__item <span class="slider__number">3</span><span class="slider__text"> about</span>
      .slider__item <span class="slider__number">4</span><span class="slider__text"> contacts</span>