.statistics
  .container
    ul.stat__list
      li.stat__item
        .stat__count 42
        .stat__text web design projects
      li.stat__item
        .stat__count 123
        .stat__text happy client
      li.stat__item
        .stat__count 15
        .stat__text award winner
      li.stat__item
        .stat__count 99
        .stat__text cup of coffee
      li.stat__item
        .stat__count 24
        .stat__text members