.section
  .container
    .reviews
      .slick__slider(data-slider)
        .no-name-div
          .reviews__item.reviews--padding.reviews__item--min-height
            img.reviews__photo-testimonial.border-round--lightex(src="/assets/img/Ellipse-fin.png" alt="")
            .reviews__text
              q Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
            .reviews__author <cite>Joshua Earle</cite>

        .no-name-div
          .reviews__item.reviews--padding.reviews__item--min-height
            img.reviews__photo-testimonial.border-round--lightex(src="/assets/img/Ellipse-fin.png" alt="")
            .reviews__text
              q Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
            .reviews__author <cite>Joshua Earle</cite>