section.section
  .container
    .section__header
      h3.section__suptitle Service
      h2.section__title what we do
      .section__text
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    include wedo-accordeon.pug