.wedo
  .wedo__item
    img.wall-pictures(src="/assets/img/service/picture-wall.jpg" alt="wall with pictures")
    //- img(src="http://placehold.it/570x380" alt="wall with pictures")
  .wedo__item
    .accordion
      .accordion__item(data-collapse="#wedo_1")
        .accordion__header
          img.accordion__icon(src="/assets/img/service/PICTURE.png" width="31" height="31" alt="photography")
          .accordion__title Photography
        .accordion__content#wedo_1 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

      .accordion__item.active(data-collapse="#wedo_2")
        .accordion__header
          img.accordion__icon(src="/assets/img/service/EQUALIZER.png" width="29" height="33" alt="photography")
          .accordion__title creativity
        .accordion__content#wedo_2 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

      .accordion__item(data-collapse="#wedo_3")
        .accordion__header
          img.accordion__icon(src="/assets/img/service/BULLSEYE.png" alt="photography")
          .accordion__title web design
        .accordion__content#wedo_3 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.