extends ../layout/main

block variables
  -var title = 'MoGo';

block content
  .page
    include ../includes/modules/intro
    include ../includes/modules/section-story
    include ../includes/modules/statistics
    include ../includes/modules/services
    include ../includes/modules/device
    include ../includes/modules/wedo-service
    include ../includes/modules/quote-slider
    //- include ../includes/modules/quote-slider-mine
    include ../includes/modules/our-team
    include ../includes/modules/logos
    include ../includes/modules/portfolio
    include ../includes/modules/testimonial
    include ../includes/modules/happy-clients
    include ../includes/modules/blog
    include ../includes/modules/map
    include ../includes/modules/footer