.border--lightex {
  border: 2px solid $border-lightex;
}

.border-round--lightex {
  border: 2px solid $border-lightex;
  border-radius: 50%;
}

.border-right--none {
  border-right: 1px solid transparent;
}