.works {
  display: flex;
  flex-wrap: wrap;
}

.works__col {
  flex: 1 1 0;
}

.works__item {
  position: relative;

  background: linear-gradient(to top, rgba(251, 227, 137, .9), rgba(243, 129, 129, .9));
}

.works__item:hover {
  
  .works__image {
    opacity: .1;
  }

.works__info {
  opacity: 1;
}
}

.works__image {
  // display: block;
  width: 100%;
  //height: auto; // скорее всего из-за нормалайза у меня нет необходимости в этих свойствах
  transition: opacity .2s linear;
}

.works__info {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate3d(0, -50%, 0);
  z-index: 1;

  width: 100%;
  padding: 0 15px;

  text-align: center;
  color: $default-color;

  opacity: 0;
  transition: opacity .2s linear;
}

.works__title {
  margin-bottom: 5px;

  text-transform: uppercase;
  font-size: $text-size-sm;
  font-weight: bold;
}

.works__text {
  font-family: $regItalicFont;
}