.reviews--padding {
  padding-left: 255px;
}

.reviews__item--min-height {
  min-height: 220px;
}

.reviews__photo-testimonial {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;

  display: block;
}